body {
  font-family: Arial;
   font-size: 16px;
   background-color: lightblue;

}
.header {
  position: fixed;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  left:0px;
  right: 0px;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  z-index: 100px;
  background-color: lightpink;

}
.logo {
  width: 70px;
}
.logo-container {
  border: none;
  border-radius: 15px;
  padding: 14px 5px 0px 10px;
  width: 150px

}

.label {
  padding: 15px -5px 0px 5px;
  margin-left: 144px;
  border: 1px solid lightgray;
  width: 150px;

}

.search-box {
   width: 300px;

}


::placeholder {
  font-size: 16px;
  text-align: center;
  font-family: Arial;
  font-weight: bold;
}


img {
  width: 200px;
}
img:hover {
  cursor: pointer;
  border: 5px dotted darkgray;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 0px;
  row-gap: 0px;
}

button {
  background-color: green;
  color: white;
  height: 30px;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.notification-button {
  height: 70px;
  width: 100px
}