.side-bar {
  width: 110px;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 95px;
  left: 0px;
  bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: start;
  row-gap: 200px;
  z-index: 99px;
}

.first {

}

.second {

}

.third {

}

.fourth {

}

.home-icon {
  width: 50px;
}

.explore {
  width: 50px;
}

.subscribe-icon {
  width: 110px;
}

.youtube-video-logo {
  width: 50px;
}
